.header {
  background-color: #ffcb22;
  color: white;
  padding: 20px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
}

.logo {
  width: 150px;
  height: 80px;
}

h1 {
  margin: 0;
  text-align: center;
  padding-right: 10%;
}
.combobox-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 20px;
}

.combobox {
  padding: 8px;
  font-size: 14px;
  width: 150px;
}
table {
  width: 90%;
  border-collapse: collapse;
  margin: auto;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

.estadisticas-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  padding: 50px;
}

.estadistica-card {
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

h2 {
  font-size: 20px;
}

.porcentajes,
.cantidades {
  display: flex;
  justify-content: space-between;
}

.positivo-sub {
  color: blue;
}

.negativo-sub {
  color: red;
}
.positivo {
  color: blue;
  font-size: 30px;
}

.negativo {
  color: red;
  font-size: 30px;
}
